<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

        <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
          <a class="navbar-brand" href="/">Tutorial_point</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="{% url 'con' %}">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'ab' %}">About</a>
        </li>

               <li class="nav-item  dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for course_list in course_list %}
              <li><a class="dropdown-item" href="#">{{ course_list.title }}</a></li>
              {% endfor %}
          </ul>
        </li>


            {% if request.session.email %}
         <li class="nav-item">
          <a class="nav-link active" > Mycourse ({{ request.session.name }}) </a>
        </li>
            {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mx-1 " type="submit">Search</button></form>
          <!-- to add logout button -->
          {% if request.session.email %}
          <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
              <button class="btn btn-outline-success mx-2"  type="submit">Logout</button>
          </form>
          {% else %}
        <form>
            <button class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#signup" type="button">SignUp</button>
            <button class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#login" type="button">LogIn</button>
        </form>
          {% endif %}
    </div>
  </div>
</nav>
 {% block body %} {% endblock %}

<!-- Modal -->
<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'sign' %} " method="post">{% csrf_token %}
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Name</label>
                      <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Last name</label>
                      <input type="text" class="form-control" id="inputPassword4" name="lname" placeholder="Lase name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Email</label>
                    <input type="email" class="form-control" id="inputAddress" placeholder="@gmail.com" name="email">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputCity">Password</label>
                      <input type="password" class="form-control" id="inputCity" placeholder="Password" name="password">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="inputState">Mobile</label>
                      <input type="tel" id="inputState" placeholder="Mobile" class="form-control" name="mobile">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary mt-2">Submit</button>

</form>
      </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'login' %} " method="post">{% csrf_token %}
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="inputPassword4">Password</label>
                      <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                    </div>
                  </div>



                  <button type="submit" class="btn btn-primary mt-2" >Log in</button>
                  <button  class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#signup" >Sign Up</button>

</form>
    </div>
  </div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>